.coming-container {
    background: url("../../images/background.jpg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
}

.content {
    margin-left: 150px;
}

h1 {
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
}

h2 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
}

.line {
    background: #fff;
    width: 200px;
    height: 2px;
    margin: 20px 0;
}

.contact {
    display: inline-block;
    width: 300px;
}

.iconPhone {
    color: #fff;
    font-size: 32px;
    float: left;
    padding-right: 20px;
    padding-top: 8px;
}

h3 {
    color: #fff;
    font-size: 42px;
}

@media screen and (max-width: 1100px) {
    .coming-container > h1 {
        font-size: 60px;
        align-items: center;
    }

    .content {
        margin-left: 0px;
        align-items: center;
        text-align: center;
    }

    .line {
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    .coming-container > h1 {
        font-size: 60px;
        align-items: center;
    }
} 

@media screen and (max-width: 400px) {
    .coming-container > h1 {
        font-size: 30px;
        align-items: center;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 15px;
    }

    .contact {
        width: 220px;
    }
    
    .iconPhone {
        font-size: 24px;
        padding-top: 8px;
    }
    
    h3 {
        font-size: 32px;
    }
} 